@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>Aluno @ViewData["Name"]</h3>
<p>@ViewData["Menssage"]</p>
<address>
    <strong>Mais informações:</strong> <a href="http://globo.com">Globo.com</a>
</address>
